<!-- navbar -->
<div class="navbars">
  <app-navbar></app-navbar>
</div>

<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <article
      class="entry entry--73 entry--type-product entry--status-publish entry--author-"
      id="post-73"
    >
      <header class="entry__header" style="background-color: #ebf6ff">
        <div class="wrap row">
          <div>
            <div class="logo">
              <img
                src="../../assets/voltic-logo.svg"
                class="attachment-thumb size-thumb"
                alt=""
                width="1"
                height="1"
              />
            </div>
            <h1 class="entry__title" style="color: black;">Boss</h1>
            <!-- Breadcrumbs -->
            <div id="breadcrumbs" style="color: black;">
              <span
                ><span
                  ><a style="color: black;"
                    routerLink="/"
                    >Home</a
                  >
                  »
                  <span
                    ><a style="color: black;"
                      routerLink="/products"
                      >Products</a
                    >
                    » <span class="breadcrumb_last" style="color: black;">Boss</span></span
                  ></span
                ></span
              >
            </div>
          </div>

          <div class="highlight">
            <p style="color: black;">
              BOSS system uses technology to provide a complete solution for
              transport companies in the following areas:
            </p>
            <div class="links"></div>
          </div>
        </div>
      </header>
      <div class="entry__content">
        <div class="wrap row"></div>
      </div>
    </article>
  </main>
</div>

<!-- footer -->
<div class="footer">
  <app-footer></app-footer>
</div>
