<!-- navbar -->
<div class="navbars">
  <app-navbar></app-navbar>
</div>

<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <article
      class="entry entry--25 entry--type-page entry--status-publish entry--author-_voltic"
      id="post-25"
    >
      <header class="entry__header">
        <div class="wrap row">
          <div>
            <h1 class="entry__title">About Voltic</h1>
            <!-- Breadcrumbs -->
            <div id="breadcrumbs">
              <span
                ><span
                  ><a
                    routerLink="/"
                    >Home</a
                  >
                  » <span class="breadcrumb_last">About Voltic</span></span
                ></span
              >
            </div>
          </div>
          <div class="highlight">
            <p>
              Voltic Kenya is a technology company offering solutions to the
              transport sector. The solution offers end to end services to both
              operators and users.
            </p>
            <p>
              An ERP solution, which would cost millions of dollars availed at
              <b>ZERO UPFRONT FEES</b>
            </p>
          </div>
        </div>
      </header>
      <div class="sections">
        <div
          class="vision_board row section"
          style="background-color: #1a2730; color: #f5f5f5"
        >
          <div class="wrap row">
            <div class="col">
              <p class="p1">
                To be the <b>premier solution&nbsp;</b>provider to the transport
                sector
              </p>
            </div>
            <div class="col">
              <h3>Vision</h3>
            </div>
          </div>

          <div class="img">
            <img
              src="../../assets/vision.jpeg"
              class="attachment-large size-large"
              alt=""
              srcset="
               assets/vision.jpeg         2100w,
               assets/vision.jpeg 1600w,
               assets/vision.jpeg  1000w,
               assets/vision.jpeg   400w
              "
              sizes="(max-width: 750px) 100vw, 750px"
              width="750"
              height="500"
            />
          </div>
        </div>
        <div class="vision_board row section" style="background-color: #f4ebeb">
          <div class="wrap row">
            <div class="col">
              <p class="p1">
                To offer connectivity through enhancing mobility and ease of
                access by providing timely and convenient information to
                customers and operators when and where they need it!<span
                  class="Apple-converted-space"
                  >&nbsp; &nbsp;</span
                >
              </p>
            </div>
            <div class="col">
              <h3>Mission</h3>
            </div>
          </div>

          <div class="img"></div>
        </div>
        <div class="vision_board row section" style="background-color: #e6f7f7">
          <div class="wrap row">
            <div class="col">
              <ul>
                <li class="p1">Excellence</li>
                <li class="p1">Integrity</li>
                <li class="p1">Trust and Openness</li>
                <li class="p1">Take Responsibility</li>
                <li class="p1">Customer Orientation</li>
              </ul>
            </div>
            <div class="col">
              <h3>Core Values</h3>
            </div>
          </div>

          <div class="img"></div>
        </div>
      </div>

      <div class="entry__content">
        <div class="wrap row">
          <p>
            Voltic is a private company. Voltic Kenya is a technology company
            offering solutions to the transport sector
          </p>

          <p>
            The company has conducted extensive research in the transport sector
            for the last 4 years into the pain points of end users and investors
            in the transport industry
          </p>

          <p>
            The research has informed the company’s Go To Market Strategy and
            how to effectively execute
          </p>

          <p>
            Following the research, the company was officially incorporated on
            27<sup>th</sup> August 2017
          </p>

          <h3><strong>Opportunities to make a difference</strong></h3>

          <p>
            Voltic Kenya is addressing challenges in the transport sector by
            providing practical solutions through:
          </p>

          <div class="wp-block-columns has-2-columns prdcts">
            <div class="wp-block-column">
              <h4 id="mce_37">Merchant Solution (BOSS)</h4>

              <ul>
                <li>Automation to improve efficiency</li>
                <li>Business Training</li>
                <li>Visibility through Web &amp; App</li>
                <li>Diversification of distribution channels</li>
                <li>Future revenue diversification</li>
                <li>Efficiency in regulatory compliance</li>
                <li>Automated operational audit capability</li>
              </ul>
            </div>

            <div class="wp-block-column">
              <h4>End User Solution (i-Abiri)</h4>

              <ul>
                <li>Various options for transport</li>
                <li>Single click to select bus operator</li>
                <li>Time saved in booking favorite transport mode</li>
                <li>Convenient boarding and drop off points</li>
                <li>Increased sense of security, one can share trip details</li>
                <li>
                  Ease of planning prior for trip as departure and arrival time
                  are known before
                </li>
                <li>Variety of payment options</li>
                <li>
                  Ability to save slowly for trip in an inbuilt wallet Tracking
                  of vehicle movement from passenger convenience
                </li>
              </ul>
            </div>
          </div>

          <div class="wp-block-image">
            <figure class="aligncenter">
              <img
                src="../../assets/sector-data.png"
                alt=""
                class="wp-image-143"
                srcset="
                    assets/sector-data.png          1329w,
                    assets/sector-data.png 1000w,
                    assets/sector-data.png   400w
                "
                sizes="(max-width: 1329px) 100vw, 1329px"
              />
            </figure>
          </div>
          <h4>Explore More</h4>
          <ul class="children">
            <li>
              <a
                href="https://web.archive.org/web/20211206081045/http://volticafrica.com/about-voltic/team/"
                ><p>Our Awesome Team</p>
              </a>
            </li>
            <li>
              <a
                href="https://web.archive.org/web/20211206081045/http://volticafrica.com/about-voltic/where-to-find-us/"
                ><p>Where to Find Us</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </main>
</div>
<!-- footer -->
<div class="footers">
  <app-footer></app-footer>
</div>
