<!-- navbar -->
<div class="navbars">
  <app-navbar></app-navbar>
</div>
<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <article class="entry entry--117 entry--type-page entry--status-publish entry--author-_voltic" id="post-117">
      <header class="entry__header">
        <div class="wrap row">
          <div>
            <h1 class="entry__title">Contact Us</h1>
            <!-- Breadcrumbs -->
            <div id="breadcrumbs">
              <span><span><a routerLink="/">Home</a>
                  » <span class="breadcrumb_last">Contact Us</span></span></span>
            </div>
          </div>
          <div class="highlight">
            <p>Any queries? Get in touch with us.</p>
          </div>
        </div>
      </header>
      <div class="entry__content contact__us">
        <div class="wrap contacting ">
          <div role="form" class="wpcf7" id="wpcf7-f5-p117-o1" dir="ltr" lang="en-US">
            <div class="screen-reader-response"></div>
            <form action="/web/20220315074944/http://volticafrica.com/contact-us/#wpcf7-f5-p117-o1" method="post"
              class="wpcf7-form" novalidate="novalidate">
              <div style="display: none">
                <input type="hidden" name="_wpcf7" value="5" />
                <input type="hidden" name="_wpcf7_version" value="5.1.1" />
                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p117-o1" />
                <input type="hidden" name="_wpcf7_container_post" value="117" />
                <input type="hidden" name="g-recaptcha-response" value="" />
              </div>
              <p>
                <label>
                  Your Name (required)<br />
                  <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"
                      aria-invalid="false" /></span>
                </label>
              </p>
              <p>
                <label>
                  Your Email (required)<br />
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                      aria-required="true" aria-invalid="false" /></span>
                </label>
              </p>
              <p>
                <label>
                  Subject<br />
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value=""
                      size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span>
                </label>
              </p>

              <!-- trial -->
              <h4>Trial</h4>
              <mat-form-field>
                <mat-label>Favorite Company</mat-label>
                <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" (change)="onSelect($event)">
                  <mat-option *ngFor="let company of companies" [value]="company.value" style="color: brown;">
                    {{company.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              


              <p><label>Select your query type</label></p>



              <div class="input-field">
                <span class="wpcf7-form-control-wrap query">
                  <div class="select-wrapper">
                    <input class="select-dropdown dropdown-trigger" type="text" readonly="true"
                      data-target="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b25" />
                    <ul id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b25"
                      class="dropdown-content select-dropdown multiple-select-dropdown" tabindex="0">
                      <li id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b250" tabindex="0">
                        <span><label><input type="checkbox" /><span>iAbiri Solution</span></label></span>
                      </li>
                      <li id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b251" tabindex="0">
                        <span><label><input type="checkbox" /><span>BOSS Enterprise Systen</span></label></span>
                      </li>
                      <li id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b252" tabindex="0">
                        <span><label><input type="checkbox" /><span>Investor Query</span></label></span>
                      </li>
                      <li id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b253" tabindex="0">
                        <span><label><input type="checkbox" /><span>Customer Query</span></label></span>
                      </li>
                      <li id="select-options-5b638ce0-9795-9be7-944e-8e398d9b1b254" tabindex="0">
                        <span><label><input type="checkbox" /><span>Other</span></label></span>
                      </li>
                    </ul>
                    <svg class="caret" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7 10l5 5 5-5z"></path>
                      <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg><select name="query[]" class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                      aria-required="true" aria-invalid="false" multiple="multiple" tabindex="-1">
                      <option value="iAbiri Solution">iAbiri Solution</option>
                      <option value="BOSS Enterprise Systen">
                        BOSS Enterprise Systen
                      </option>
                      <option value="Investor Query">Investor Query</option>
                      <option value="Customer Query">Customer Query</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </span>
              </div>
              <p>
                <label>Your Message<br />
                  <span class="wpcf7-form-control-wrap your-message">
                    <textarea name="your-message" cols="40" rows="10"
                      class="wpcf7-form-control wpcf7-textarea materialize-textarea" id="textarea1"
                      aria-invalid="false"></textarea></span><br />
                </label>
              </p>
              <p>
                <input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /><span
                  class="ajax-loader"></span>
              </p>
              <div class="wpcf7-response-output wpcf7-display-none"></div>
            </form>
          </div>

          <p></p>
          <div class="contact_information">
            <h4>Get in touch with us</h4>
            <div class="entry__country">
              <h3>Head Office (Nairobi, Kenya)</h3>
              <p>
                Tel<strong>:</strong> +254 737 740 740/ + 254 737 755 755<br />Email<strong>:</strong>
                info@voltic-africa.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
  </main>
</div>

<!-- footer -->
<div class="footers">
  <app-footer></app-footer>
</div>