<div class="navbars">
  <app-navbar></app-navbar>
</div>
<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <article
      class="entry entry--37 entry--type-page entry--status-publish entry--author-_voltic"
      id="post-37"
    >
      <header class="entry__header">
        <div class="wrap row">
          <div>
            <h1 class="entry__title">Our Awesome Team</h1>
            <!-- Breadcrumbs -->
            <div id="breadcrumbs">
              <span
                ><span
                  ><a
                    routerLink="/"
                    >Home</a
                  >
                  »
                  <span
                    ><a
                      routerLink="/about"
                      >About Voltic</a
                    >
                    »
                    <span class="breadcrumb_last">Our Awesome Team</span></span
                  ></span
                ></span
              >
            </div>
          </div>
        </div>
      </header>
      <div class="entry__content">
        <div class="wrap row">
          <div class="wp-block-columns has-2-columns">
            <div class="wp-block-column">
              <h4>Fowzi Ahmed</h4>

              <p><strong>Founder &amp; CEO</strong></p>

              <p>
                Fowzi has a Bachelor degree in International Business
                Management- London Met. Post Graduate Diploma in Project
                Management from Makerere University.
              </p>

              <p>
                Fowzi is a very experienced entrepreneur who developed the
                concept behind Voltic Kenya. Fowzi is an expert in logistics and
                transport systems. He has worked with different fleet owners to
                enhance business performance.
              </p>

              <p>He has over 14 years experience</p>
            </div>

            <div class="wp-block-column">
              <h4>Felistus Karanja</h4>

              <p><strong>Director Strategy &amp; Administration</strong></p>

              <p>
                Felistus holds a Masters of Business Administration (MBA) in
                Strategic Management from University of Nairobi, Bachelors of
                Business Management from Egerton University, and Executive
                Program for Management Development (PMD) from Strathmore
                University. She is also a Certified Public Accountant (CPA-K)
                and a member of Institute of Certified Public Accountants of
                Kenya (ICPAK).
              </p>

              <p>
                She has been instrumental in championing operational excellence
                and has over 10 Years of experience in the Financial Services
                Industry. Previously, she served as the General Manager,
                Properties, East Africa for UAP Old Mutual Group and also as the
                General Manager/ Principal Officer of UAP Investments Limited.
              </p>

              <p>She has over 12 years experience</p>
            </div>
          </div>

          <div class="wp-block-columns has-2-columns">
            <div class="wp-block-column">
              <h4>George Makori</h4>

              <p><strong>Chief Operations Officer</strong></p>

              <p>
                George has a Bachelor of Science in Electrical and Electronic
                Engineering (UON), Bachelor of Science in Business Computing and
                Internet Systems (Huddersfield University, UK)
              </p>

              <p>
                George is a seasoned entrepreneur with a great mix of
                professional and technical skills.
              </p>

              <p>
                George has worked and run various businesses in consulting,
                renewable energy and mining.
              </p>

              <p>He has over 8 years of business experience.</p>
            </div>

            <div class="wp-block-column">
              <h4>Sultan Abdulahi</h4>

              <p><strong>Finance Manager</strong></p>

              <p>
                Sultan has a Bachelor of Commerce (Finance). He is also
                undertaking his CPA’S and due for completion.
              </p>

              <p>
                He has significant amount of high level experience in&nbsp;
                accounting and finance.
              </p>

              <p>
                Sultan has worked in finance roles as a chief accountant and
                Finance Manager for several transport and logistics companies.
              </p>
            </div>
          </div>

          <p></p>
        </div>
      </div>
    </article>
  </main>
</div>

<!-- footer -->
<div class="footers">
  <app-footer></app-footer>
</div>
