<!-- navbar -->
<div class="navbars">
  <app-navbar></app-navbar>
</div>

<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <div class="archive-header">
      <div class="wrap row">
        <div>
          <h1 class="archive-header__title">Products</h1>
          <div id="breadcrumbs">
            <span
              ><span
                ><a
                  routerLink="/"
                  >Home</a
                >
                » <span class="breadcrumb_last">Products</span></span
              ></span
            >
          </div>
        </div>
      </div>
    </div>

    <article class="entry product_showcase" style="background-color: #000000">
      <div class="wrap row">
        <div class="logo col">
          <img
            src="../../assets/iabiri-logo-1.svg"
            class="attachment-thumb size-thumb"
            alt=""
            width="1"
            height="1"
          />
        </div>
        <div class="col">
          <div class="description">
            <h3>iAbiri</h3>
            <p>
              i-Abiri enables customers to purchase tickets when and where they
              are. It enables ease of ticket booking.
            </p>
          </div>
          <div class="links">
            <a
              routerLink="/product/iabiri"
              class="readmore"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </article>

    <article
      class="entry product_showcase"
      style="background-color: #ebf6ff; color: #263770"
    >
      <div class="wrap row">
        <div class="logo col">
          <img
            src="../../assets/voltic-logo.svg"
            class="attachment-thumb size-thumb"
            alt=""
            width="1"
            height="1"
          />
        </div>
        <div class="col">
          <div class="description">
            <h3>Boss</h3>
            <p>
              BOSS system uses technology to provide a complete solution for
              transport companies in the following areas:
            </p>
          </div>
          <div class="links">
            <a
              routerLink="/product/boss"
              class="readmore"
              >Learn More</a
            >
          </div>
        </div>
      </div>
    </article>
  </main>
</div>

<!-- footer -->
<div class="footers">
  <app-footer></app-footer>
</div>
