<!-- navbar -->
<div class="navbars">
    <app-navbar></app-navbar>
</div>

<!-- main content -->
<div class="app-content">
  <main id="main" class="app-main">
    <article
      class="entry entry--14 entry--type-page entry--status-publish entry--author-_voltic has-post-thumbnail"
      id="post-14"
    >
      <header class="entry__header">
        <div class="wrap row">
          <div>
            <h1 class="entry__title">Social Impact</h1>
            <!-- Breadcrumbs -->
            <div id="breadcrumbs">
              <span
                ><span
                  ><a
                    routerLink="/"
                    >Home</a
                  >
                  » <span class="breadcrumb_last">Social Impact</span></span
                ></span
              >
            </div>
          </div>
          <div class="highlight">
            <p>
              Transport sector in Kenya is mainly controlled by individuals and
              SMEs’ who lack access to advanced resources (IT, skills) and
              business management knowhow. This is changing with VOLTIC
              solutions:
            </p>
          </div>
        </div>
      </header>
      <div class="featured_image">
        <img
          src="../../assets/social-impact-meaning-1000x446.jpg"
          class="attachment-featured size-featured"
          alt=""
          attr=""
          srcset="
            assets/social-impact-meaning-1000x446.jpg 1000w,
            assets/social-impact-meaning-1000x446.jpg   400w,
            assets/social-impact-meaning-1000x446.jpg          1200w
          "
          sizes="(max-width: 1000px) 100vw, 1000px"
          width="1000"
          height="446"
        />
      </div>
      <div class="entry__content">
        <div class="wrap row">
          <ul class="social_impact_c collapsible">
            <li>
              <div class="collapsible-header" tabindex="0">
                Improved road safety
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col">
                    <p>
                      Improved road safety through better tracking of vehicle
                      maintenance
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header" tabindex="0">Risk Management</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col">
                    <p>
                      Opening up the sector to reliable risk management hence
                      making industry attractive to big insurance players
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header" tabindex="0">Accurate Data</div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col">
                    <p>Making it possible for accurate sector data</p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header" tabindex="0">
                Parcel Carriage Optimization
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col">
                    <p>
                      Conversion of parcel carriage into a main revenue stream
                    </p>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header" tabindex="0">
                Insurance claim accuracy
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col"><p>Accuracy in insurance claims</p></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </article>
  </main>
</div>

<!-- footer -->
<div class="footer">
    <app-footer></app-footer>
</div>